page-setting {
    ion-input {
        display: inline-block;
        width: 25px;
        height: 35px;
        margin: 10px;
        --padding-start: 0px;
        border-bottom: 1px solid;
        color: #000000;
    }
}